<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="master/layout :: head">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div th:replace="master/layout :: navbar"></div>

<div class="container mt-5">
    <div th:if="${message}" class="alert alert-info alert-dismissible fade show" role="alert">
        <strong>INFO</strong>
        <p th:text="${message}"></p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <h3 class="text-center">Marcas Disponibles</h3>
    <div class="row" th:if="${marcas.size()} > 0">
        <div class="col-md-3" th:each="marca : ${marcas}">
            <div class="card">
                <div class="card-header" th:text="${marca.getName()}"></div>
                <div class="card-body">
                    <a th:href="@{/marcas/eliminar(id=${marca.getId()})}" class="btn btn-danger">Eliminar</a>
                </div>
            </div>
        </div>
    </div>
    <a th:href="@{/marcas/nueva}" class="btn btn-primary btn-block mt-3">Nueva Marca</a>
</div>

<div th:replace="master/layout :: footer"></div>
</body>
</html>